<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FileFly</title>
    <!-- <link rel="stylesheet" href="/dist/output.css" /> -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-screen bg-gray-200">
    <h1 class="text-5xl my-5 flex justify-center text-gray-800">FileFly</h1>
    
    <div class="max-w-md mx-auto p-12 bg-sky-700 rounded-md drop-shadow-xl border-2 border-sky-900">
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form-entry mb-5">

          <div class="max-w-xl">
            <label
              for="file"
              class="flex justify-center w-full h-32 px-4 transition bg-white border-2 border-gray-300 border-dashed rounded-md appearance-none cursor-pointer hover:border-gray-400 focus:outline-none"
            >
              <span class="flex items-center space-x-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-6 h-6 text-gray-600"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
                  />
                </svg>
                <span class="font-medium text-gray-600">
                  Click to attach files
                </span>
              </span>
              <input
                type="file"
                name="file"
                id="file"
                class="hidden"
                required
              />
            </label>
          </div>

          

        <div class="form-entry my-5">
          <label for="password" class="text-slate-100">Password <span class="text-zinc-400">(recommended)</span></label><br />
          <input type="password" id="password" name="password" class="w-full rounded pl-2 my-3 border-2 border-zinc-400 focus:border-sky-400" />
        </div>
        <button
          type="submit"
          class="w-full px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white text-sm font-medium rounded-full"
        >
          Upload File & Generate Link
        </button>

        <% if (locals.fileLink != null) { %>
        <div class="my-5 text-slate-100">
          Your file is successfully uploaded, use the link below
          <a href="<%= locals.fileLink %>" id="uploadLink"><%= locals.fileLink %></a>
           <button
          onclick="copyLink()"
          class="w-full px-4 py-2 bg-green-500 hover:bg-green-600 text-white text-sm font-medium rounded-full my-5"
        >
          Copy Link
        </button>
        </div>
        <% } %>
      </form>
    </div>
  </body>
</html>
